dm_control>=1.0.1
metaworld @ git+https://github.com/rlworkgroup/metaworld.git@master#egg=metaworld
mujoco-py<2.2,>=2.1
scipy
gym[mujoco]<0.25.0,>=0.24.0
mp_pytorch @ git+git@github.com/ALRhub/MP_PyTorch.git@main
